/* .menu-icon{
    width: 30px;
    height: 4px;
    margin: 3px;
    background-color: black;
} */

.contact_hr {
    margin: 0;
}


.menu-wrapper {
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    width: 42px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn span {
    height: 3px;
    background: white;
    border-radius: 2px;
}

.menu {
    direction: rtl;
    position: absolute;
    top: 35px;
    left: 0;
    width: 180px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
    padding: 8px 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.25s ease;
}

.menu a {
    display: block;
    padding: 10px 16px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    background: #f2f2f2;
}

.menu.active {
    opacity: 1;
    z-index: 10;
    transform: translateY(0);
    pointer-events: auto;
}


.form-control {
    direction: rtl;
}