body{
    background-color: #212529 !important;
    height: 100vh;
}
.contact-list{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: lightblue;
}


.list-item{
    height: 70px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 8px;
    background-color: lightblue;
}

.list-item p{
    margin:0;
    float: left;
    padding-left: 20px;
}

.contact-img img{
    float: right;
    margin-right: 20px;
}

.list-item > div{
    width: 500px;
}



.add-contact-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

