{% extends './base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'message_app/style.css' %}">
{% endblock style %}

{% block content %}
<div class="row " style="height: 100vh;">

  <div class="col-4 bg-dark text-light p-0">

    {% include "message_app/header_contacts.html" %}

    <ul class="list-unstyled p-3">
        {% for contact in contacts %}
        <li class="mb-2">
            <img src="{% static 'message_app/images/Circle-icons-profile.svg.png' %}" width="40">
            <a class="text-light ms-2" href="{% url "index" contact.user_name %}">
                {{contact.user_name}}
            </a>
        </li>
        <hr class="text-secondary">
        {% endfor %}
    </ul>
  </div>

  
</div>
{% endblock content %}
