    <div class="m-2 text-center d-flex justify-content-between">
      <form method="get" action="{% url "find_contact" %}" class="w-100 mx-2">
        <input type="text" name="name" class="form-control" placeholder="Search">
      </form>
      <button class="contact bg-light" id="menu">
          <div class="menu-icon"></div>
          <div class="menu-icon"></div>
          <div class="menu-icon"></div>
      </button>
    </div>
    <script>
        document.getElementById("menu").addEventListener("click",() => {
            window.location.href = "{% url "form_view" 'contact' %}";
        })
    </script>