<div class="d-flex align-items-center p-2 justify-content-between">
    <div class="menu-wrapper mx-2">
      <button id="menu-btn" class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    
      <div id="menu" class="menu">
        <a href="{% url "user_profile" %}">پروفایل شما</a>
        <a href="">مخاطبین</a>
        <a href="#">تنظیمات</a>
        <a href="#">خروج از اکانت</a>
      </div>
    </div>
    <div class="flex-grow-1 mx-2">
        <form action="{% url "find_message" %}" method="get">
            <input type="text" name="search" id="" class="form-control find_message w-100" placeholder="جستوجوکنید...">
        </form>
    </div>
</div>
<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  btn.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("active");
  });

  document.addEventListener("click", () => {
    menu.classList.remove("active");
  });
</script>
