<div class="d-flex align-items-center p-2 justify-content-between">
    <div class="menu-wrapper mx-2">
      <button id="menu-btn" class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div id="menu" class="menu">
        <a href="{% url "user_profile" %}">پروفایل شما</a>
        <a href="{% url "my_contacts" %}">مخاطبین</a>
        <a href="#">تنظیمات</a>
        <a href="#">خروج از اکانت</a>
      </div>
    </div>
    <div class="flex-grow-1 mx-2">
        <form action="{% url "find_message" %}" method="get">
            <input type="text" name="search" id="" class="form-control find_message w-100" placeholder="جستوجوکنید...">
        </form>
    </div>
</div>
<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  btn.addEventListener("click", (e) => {
    e.stopPropagation();
    e.preventDefault(); // این خط را اضافه کنید
    menu.classList.toggle("active");
  });

  document.addEventListener("click", (e) => {
    // اگر کلیک روی خود منو باشد، نباید بسته شود
    if (!menu.contains(e.target) && !btn.contains(e.target)) {
      menu.classList.remove("active");
    }
  });

  // مطمئن شوید لینک‌ها کلیک می‌شوند
  menu.addEventListener('click', (e) => {
    if (e.target.tagName === 'A') {
      // منو را ببندید
      menu.classList.remove("active");
    }
  });
</script>
