{% extends './base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'message_app/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'message_app/chats.css' %}" />
{% endblock %}

{% block content %}
  <div class="row" style="height: 100vh;">
    {% include 'message_app/chats.html' %}

    {% if message_detail %}
    <div class="col-8 position-relative p-0" style="height: 100vh;">
      <div class="bg-primary text-light">
        <div class="container py-3 d-flex align-items-center" id="chat_profile_info">
          <img src="{% if contact.profile_photo %}
              {{ contact.profile_photo.url }}
            {% else %}
              {% static 'message_app/images/Circle-icons-profile.svg.png' %}
            {% endif %}"
            width="45"
            height="45"
            class="rounded-circle me-2" />

          <p class="ms-3 mb-0">{{ contact_name }}</p>
        </div>
      </div>

      <div class="container overflow-auto" style="height: calc(100vh - 170px); padding-top: 1rem; padding-bottom: 120px;">
        {% for message in messages %}
          {% if message.sender == request.user.profile %}
            <div class="w-50 ms-auto mb-3">
              <div class="bg-primary text-white rounded-3 p-3 shadow position-relative">
                <p class="mb-1">{{ message.text }}</p>
                <small class="d-flex justify-content-end align-items-center text-white-50">
                  <span class="me-1">{{ message.created_at|time:'H:i A' }}</span>
                  <span class="message-status">
                    {% if message.is_read %}
                      &#10003;&#10003; <!-- دو تیک -->
                    {% else %}
                      &#10003; <!-- یک تیک -->
                    {% endif %}
                  </span>
                </small>
              </div>
            </div>
          {% else %}

          
            <!-- پیام دریافت‌شده -->
            <div class="w-50 mb-3">
              <div class="bg-light rounded-3 p-3 shadow position-relative">
                <p class="mb-1">{{ message.text }}</p>
                <small class="d-block text-start text-muted">{{ message.created_at|time:'H:i A' }}</small>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="position-absolute bottom-0 start-50 translate-middle-x w-75 pb-3">
        <form action="{% if contact %}{% url 'send_message' contact.id %}{% endif %}" method="post" class="shadow rounded-pill overflow-hidden bg-white" id="my_form">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" name="text" class="form-control border-0 rounded-pill rounded-end p-3" placeholder="پیام..." />
            <button id="bt" type="submit" class="btn btn-primary border-0 rounded-pill rounded-start px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11Z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}





  {% if message_detail %}
  <script>
    let userprofile = document.querySelectorAll('#chat_profile_info')
    
    userprofile.forEach((profile) => {
      profile.addEventListener('click', () => {
        window.location.href = '{% url "contact_profile" contact.id %}';
      })
    })
  </script>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'message_app/messages.js' %}"></script>
{% endblock %}
