{% extends './base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'message_app/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">

          <img src="{% if profile.profile_photo %}{{ profile.profile_photo.url }}{% else %}{% static 'message_app/images/Circle-icons-profile.svg.png' %}{% endif %}" 
               class="rounded-circle mb-3" width="120" height="120">

          <h3>{{ profile.profile_name }}</h3>
          {% if profile.profile_username %}
            <p class="text-muted">{{ profile.profile_username }}</p>
          {% endif %}

          {% if profile.profile_bio %}
            <p class="mt-3">{{ profile.profile_bio }}</p>
          {% else %}
            <p class="mt-3">...هنوز چیزی اینجا نیست</p>
          {% endif %}

          {% if profile.gender %}
            <p class="text-secondary">Gender: {{ profile.gender|title }}</p>
          {% endif %}

          <a href="" class="btn btn-primary mt-3">ویرایش پروفایل</a>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
